:root {
  --cor-madeira-escura: #4e342e;
  --cor-verde-musgo: #76d153;
  --cor-fundo-principal: white;
  --cor-fundo-claro: #252525;
} /*#1a1a1a;*/

/* Container geral da página */
.ideias-container {
  padding: 60px 20px;
  background: var(--cor-fundo-principal);
  min-height: 100vh;
  color: white;
  text-align: center;
}

/* Título */
.ideias-title {
  font-size: 3.0rem;
   color: var(--cor-madeira-escura);
  /*text-shadow: 2px 2px 4px black;*/
  margin-bottom: 5px;
}

/* Subtítulo */
.ideias-subtitle {
  font-size: 1.2rem;
  color: #252525;
  max-width: 700px;
  margin: 0 auto 50px auto;
  line-height: 1.6;
}


/* Grade dos cards */
.ideias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Card individual */
.ideia-card {
  background: whitesmoke;/*#252525;*/
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid var(--cor-verde-musgo);
  box-shadow: 0 6px 18px #76d153;/*rgba(0,0,0,0.5);*/
  transition: 0.3s;
}

/* Efeito no hover */
.ideia-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 28px rgba(0,0,0,0.7);
}

/* Imagem */
.ideia-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Título do card */
.ideia-card h3 {
  margin-top: 18px;
  font-size: 1.5rem;
  color: var(--cor-madeira-escura);
}

/* Texto do card */
.ideia-card p {
  padding: 15px;
  color: #252525;
  font-size: 1.05rem;
  line-height: 1.6;
}

/* Rodapé */
footer {

  text-align: center;
  padding: 30px;
  font-size: 0.9rem;
  border-top: 1px solid var(--cor-madeira-escura);
}